body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

p {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 32px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

button {
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(146, 0, 0);
    color:rgb(240, 240, 240);
    padding: 7px;
    margin-top: 15px;
}

#game {
    background: rgb(240, 240, 240);
    padding: 30px 30px 30px 30px;
    border-radius: 25px;
    margin-top: 30px;
    width: 700px;
}

#rules {
    padding: 15px 15px 15px 60px;
    width: 700px;
    margin-top: 14px;
}

#title, #toptext, #choices {
    margin: 14px;
}

#scorediv, #summarydiv, #outcomediv, #enddiv {
    margin: 6px;
    color:rgb(146, 0, 0);
    text-align: center;
}

#toptext, #instructions, #choices, #footer {
    text-align: center;
}

#enddiv {
    font-weight: 700;
}

#footer {
    margin-top: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: 18px;
}

#author {
    margin-bottom: 5px;
}

#github {
    height: 30px; 
    width: 30px;
}