body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

p {
    margin: 20px;
    padding: 0px;
}

h1 {
    font-size: 32px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#game {
    background: rgb(240, 240, 240);
    padding: 40px 30px 20px 30px;
    border-radius: 25px;
    margin-top: 40px;
    width: 700px;
}

#rules {
    padding: 10px 30px 20px 30px;
    width: 700px;
}

#toptext, #instructions, #choices, #footer {
    text-align: center;
}

#scorediv, #summarydiv, #outcomediv, #enddiv {
    color:rgb(146, 0, 0);
    text-align: center;
}

#enddiv {
    font-weight: 700;
}

#footer {
    margin-top: auto;
    padding: 12px;
    background:rgb(240, 240, 240);
    display: flex;
    justify-content: center;
}